<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- Exemple Hibernate Mapping  -->
<hibernate-configuration>

<session-factory>
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="connection.url">jdbc:mysql://localhost:3306/corepharma</property>
	<property name="connection.username">root</property>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
	<property name="current_session_context_class">thread</property>
	<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
	<property name="hibernate.show_sql">true</property>
	<!--  <property name="myeclipse.connection.profile">MysqlConnectorDB</property> -->
	<!-- <mapping class="com.domain.User" /> -->
		<!-- Mapping Resources -->
	<mapping resource="resources/hibernate-mapping-class/Categorieutilisateurs.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Clients.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Commandesproduits.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Comptesbancaires.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Fournisseurs.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Pharmacies.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Produits.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Produitsfournisseurs.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Utilisateurs.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Venteproduit.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Ventes.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Commandes.hbm.xml" />
	<mapping resource="resources/hibernate-mapping-class/Alarmes.hbm.xml" />
</session-factory>

</hibernate-configuration>