/******** Feuille de styles du menu ************/
.menu{
 float: left;
 margin: 2px;
 padding: 2px;
}
 
.titreMenu, .contenuMenu, .lienMenu{
 color: #000000;
}
 
.titreMenu, .contenuMenu{
 border: 2px outset #AAAAAA;
 width: 120px;
 text-align: center;
 margin: 0px;
 padding: 0px;
}
 
.contenuMenu{
 display: none;
 position: absolute;
 background-color: #FFFFFF;
}
 
.menuOverflow{
 overflow: auto;
 height: 200px;
}
 
.itemOver{
 background-color: #AAAAFF
}
 
.itemOut{
 background-color: #FFFFFF;
}
 
.lienMenu{
 text-decoration: none;
}
 
.crlf{
 clear: both;
 /*visibility: hidden;*/
}
 
/******** Fin de la feuille de styles du menu ************/