* {
  margin:0;
  padding:0;
}
body {
  /*background:#C8B3A4 url('../img/back.png') repeat-x;*/
  background-color:#C4C0BE;
  color:#000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #444;
  
}

a {
	text-decoration:none;
}

#header {
  background-color:#111;
  height:162px;
}
#header_1 {
	background:url(../img/headerTop.png) repeat-x;
	color:#CCC;
	font-size: 11px;
	font-weight:bold;
}
#header_2 {
	background:url(../img/headerMid.png) repeat-x;
	color:#444;
	font-size: 12px;
	/*font-weight:bold;*/
}
#header_3 {
	background:url(../img/headerDown.png) repeat-x;
	height:34px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
}
#core {
  /*background:#C8B3A4 url('img/coreFondu.png') repeat-x;*/
  background:#C4C0BE url(../img/coreFondu.png) repeat-x;
}
#footer {
	border-top:solid 1px #09C;
	color:#000;
	margin-top:30px;
	/*background-color:#466A9B;*/
	background-color:#466A9B; C8D9ED;
	font-size:10px;
}
#footer-x {
	border-top:solid 1px #09C;
	color:#fff;
  	/*background-color:#466A9B;*/
	background-color:#A1B3CC;
	font-size:10px;
}
#infos {
	border:1px solid #CCC;
	margin:10px 10px 10px 10px;
	background-color:#333;
	color:#CCC;
	min-height:350px;
	font-size:12px;
}
#elt {
	border:1px solid #FFF;
	margin:10px 10px 10px 0px;
	background:#FFF url(../img/testi.png) repeat-x;
	color:#444;
}
#line {
	background:#FFF;
}
#lineTitle {
	background:#FFF url(../img/EcranToza.png) no-repeat;
	letter-spacing:2px;
	padding-left:50px;
	font-weight:bold;
	height:34px;
	color:#CCC;
}

.zeze { 
    width: 100%;
    height: 10px;
    position: fixed;
    right: 0px;
    top: 0px; 
} 